.row
  #course-info-panel.col-md-3.col-sm-3.col-xs-3
    Basics of Stock Market
  .course-page.col-md-5.col-sm-5.col-xs-5
    In recent year, online reviews have become the most important resource of customer
    opinion. Existing research has been focused on extraction, classification and symmetrization
    of opinion from reviews in websites, forums and blogs. Nowadays consumer can obtain
    information for products and service from online reviews resources, which can help them to
    make decision. The social tool provided by the content sharing applications allow online
    users to interact, to express their opinions and to read opinions from other users. But the
    spammers provided comments which are written intentionally to mislead users by redirecting
    them to web site to increase their rating and to promote products less known in the market.