.row.col-lg-12.col-md-12.col-sm-12.col-xs-12
  .about.col-lg-8.col-md-8.col-sm-8.col-xs-8
    %h4
      %b  About Us
      =video_tag("TUSH.mp4",:controls=>true, :autobuffer=>true, :autoplay=>false, :loop=>true,:id=>"stock_video")
  .col-lg-3.col-md-3.col-sm-3.col-xs-3
    = image_tag  "stock2.jpg", class:'stock2'
  .col-lg-1.col-md-1.col-sm-1.col-xs-1 
.stock.col-lg-11.col-md-11.col-sm-11.col-xs-11
  %h4
    %b Stock Market is what ?
  In recent year, online reviews have become the most important resource of customer
  opinion. Existing research has been focused on extraction, classification and symmetrization
  of opinion from reviews in websites, forums and blogs. Nowadays consumer can obtain
  information for products and service from online reviews resources, which can help them to
  make decision. The social tool provided by the content sharing applications allow online
  users to interact, to express their opinions and to read opinions from other users. But the
  spammers provided comments which are written intentionally to mislead users by redirecting
  them to web site to increase their rating and to promote products less known in the market.
  Reading spam comments is a bad experience and a waste of time for most of the online users
  but can also be harming and cause damage to the reader. Several researchers in this field
  focused on only spam or non-spam comments. 
  %a.href
    More...
.col-lg-1.col-md-1.col-sm-1.col-xs-1 