// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar, .content{
  color: red;
  height:87%;
  box-shadow: 
  1px 5px 5px 5px black  , 
  -10px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
  position: static;
  margin-top:7px;
  background-image: url(bg-body1.jpg);
  opacity:0.9;
  margin-bottom:0px;

}

.page{
  top: 24.15vh;
}

.news-block{
  text-align: left;
  //border: 1px solid green;
  
  left: 0px;
  //padding: 0px 0px 5px;
  background: #fff;
     
}

.news{
  //margin-top:6px;
  text-align: center;
  color:#fff; 
  background: #336699;
  background-image: url(header-background.jpg);
  //padding-top: 0px!Important;
  box-shadow: 
  0px 10px 0px 5px rgba( 255,255,255,0.4 ), 
  0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
  position: static;
  width:23vw;
}

.about{
  border: 2px ;
  top: 30px;
  text-align: justify;
  background: transparent;
   bottom:50px;
  padding-right: 0px!Important;
}

.stock2{
  //padding:25px;
  //height: 40vh;
  width:27vw;
  opacity:0.6;
  
  //display:inline;
}
#stock_video{
  width:47vw;
  //height:17vw;
  box-shadow: 
  0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
  0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
  position: static;
}

.stock{
  margin-top: 40px;
  background: #fff;
  padding:12px;
  text-align:justify;
  box-shadow: 
  0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
  0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
  position: static;
  text-align: justify;
  bottom:0px;
}

.signup {
  padding: 0px 25px 10px;
  //background: #fff;
  background: transparent;
  margin-top:10px;
  
  }

.stock2{
  padding: 0px 0px 2px;
  height: 42vh;
  //right:10px;
  margin-top:30px;
  display:inline;
}
#h3_s{
font: bold 15px/23px "Lato","Trebuchet MS", Arial, Helvetica, sans-serif;
background-image: url(home1.png);
 padding: 0.7vh 1.8vw; 
  width: 95px  ;
  text-decoration: none;
  color:#fff;
  margin-left:35px;
}
#h3_r{
font: bold 15px/23px "Lato","Trebuchet MS", Arial, Helvetica, sans-serif;
background-image: url(home1.png);
 padding: 0.7vh 1vw; 
  width: 110px  ;
  text-decoration: none;
  color:#fff;

}
#table{
  box-shadow: 
  0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
  0px 4px 20px rgba( 0,0,0,0.33 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: table;
}

