%div#fixedfooter
  %a{:href => "http://www.facebook.com/anand.barbind", :target => "_blank"}
    = image_tag  "fb.png", class:'facebook'
  %a{:href => "http://www.googleplus.com", :target => "_blank"}
    = image_tag  "Google-plus-icon-1.png", class:'facebook'
  %a{:href => "http://www.twitter.com/", :target => "_blank"}
    = image_tag  "tw.png", class:'facebook'
  Copyright @ 2016  