.col-lg-12.col-md-12.col-sm-12.col-xs-12
  .row.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .about.col-lg-6.col-md-6.col-sm-6.col-xs-6
      %h4 
        %b  About Us
      %p
        In recent year, online reviews have become the most important resource of customer
        opinion. Existing research has been focused on extraction, classification and symmetrization
        of opinion from reviews in websites, forums and blogs. Nowadays consumer can obtain
        information for products and service from online reviews resources, which can help them to
        make decision. The social tool provided by the content sharing applications allow online
        users to interact, to express their opinions and to read opinions from other users. But the
        spammers provided comments which are written intentionally to mislead users by redirecting
        them to web site to increase their rating and to promote products less known in the market.
        Reading spam comments is a bad experience and a waste of time for most of the online users
        but can also be harming and cause damage to the reader. Several researchers in this field
        focused on only spam or non-spam comments.
        %a
          More... 
    .col-lg-3.col-md-3.col-sm-3.col-xs-3
      = image_tag  "stock2.jpg", class:'stock2' 
    .signup.news-block.col-lg-3.col-md-3.col-sm-3.col-xs-3 
      .news.row  
        %h4
          %marquee{:behavior=>'alternate'}
            %b News
      .row
        %ul
          %li
            %a.href
              Todays market goes up
          %li
            %a.href
              Relience shares rate goes down
          %li
            %a.href
              News 4
          %li
            %a.href
              News5
  .row.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .stock.col-lg-9.col-md-9.col-sm-9.col-xs-9
      %h4
        %b Stock Market is what ?
      In recent year, online reviews have become the most important resource of customer
      opinion. Existing research has been focused on extraction, classification and symmetrization
      of opinion from reviews in websites, forums and blogs. Nowadays consumer can obtain
      information for products and service from online reviews resources, which can help them to
      make decision. The social tool provided by the content sharing applications allow online
      users to interact, to express their opinions and to read opinions from other users. But the
      spammers provided comments which are written intentionally to mislead users by redirecting
      them to web site to increase their rating and to promote products less known in the market.
      Reading spam comments is a bad experience and a waste of time for most of the online users
      but can also be harming and cause damage to the reader. Several researchers in this field
      focused on only spam or non-spam comments. 
      %a.href
        More... 
    .signup.col-lg-3.col-md-3.col-sm-3.col-xs-3
      %h3 Sign Up
      .inputs
        %input{:autofocus => "", :placeholder => "e-mail", :type => "email"}/
        %input{:placeholder => "Password", :type => "password"}/
        .checkboxy
          %input#checky{:name => "cecky", :type => "checkbox", :value => "1"}/
          %label.terms I accept the terms of use
        %input{:type=>"submit",:value=>"Sign Up"}

