.sidebar
  .signup.row{:align=>"center"}
    .inputs
    %table{:id=>"table"}
      %tr
        %td
          %h3{:id=>"h3_s"} Sign In
      %tr
        %td
          %input{:autofocus => "", :placeholder => "E-mail", :type => "email"}/
      %tr
        %td
          %input{:placeholder => "Password", :type => "password"}/
      %tr
        %td
          .checkboxy
            %input#checky{:name => "cecky", :type => "checkbox", :value => "1"}/
            %label.terms I accept
      %tr
        %td{:align=>"center"}
          %input{:type=>"submit",:value=>"Sign In"}
  .signup.row
    .inputs
      %table{:id=>"table"}
        %tr
          %td
          %td
            %h3{:id=>"h3_r"} Registration
        %tr
          %td
            %label.terms Name:
          %td
            %input{:autofocus => "", :placeholder => "Name", :type => "text"}/
        %tr
          %td
            %label.terms Address:
          %td
            %input{:autofocus => "", :placeholder => "Address", :type => "text"}/
        %tr
          %td
            %label.terms E-mail:
          %td
            %input{:autofocus => "", :placeholder => "E-mail", :type => "email"}/
        %tr
          %td
            %label.terms Mobile No:
          %td
            %input{:autofocus => "", :placeholder => "Mobile No", :type => "text"}/
        %tr
          %td
          %td
        %tr
          %td
            %input{:type=>"submit",:value=>"Submit"}


