.sidebar
  .news-block
    .news  
      %h4
        %marquee{:behavior=>'alternate'}
          %b News
    %ul
      %li
        %a.href
          Todays market goes up
      %li
        %a.href
          Relience shares rate goes down
      %li
        %a.href
          News 4
      %li
  